/* FONTS  2px 4px 6px 8px
          10px 12px 14px 16px
          18px 20px 22px 24px
          26px 28px 30px 32px
          34px 36px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'roboto', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 9;
}

.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    height: 60px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.search {
    width: 500px;
    display: flex;
    margin-left: 600px;
}

.search-box {
    width: 90%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
    text-align: center;
}

.search-btn {
    width: 40%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.nav-items a img {
    width: 30px;
}

.links-container {
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
    text-transform: uppercase;
}

.link {
    text-transform: uppercase;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.link:hover {
    opacity: 1;
    color: black;
}